[Unit]
Description=deis-elasticsearch
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=IMAGE=daocloud.io/cloudmario/deis-elasticsearch:v1.0.1
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "docker history $IMAGE >/dev/null 2>&1 || flock -w 1200 /var/run/lock/elasticsearch-pull docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-elasticsearch >/dev/null 2>&1 && docker rm -f deis-elasticsearch >/dev/null 2>&1 || true"
ExecStartPre=/bin/sh -c 'etcdctl set "/hehe/services/elasticsearch/hosts/${COREOS_PRIVATE_IPV4}" "{\"IP"\:\"${COREOS_PRIVATE_IPV4}\",\"HttpPort\":9200,\"TransportPort\":9300}"'
ExecStart=/bin/sh -c "docker run --rm \
  --name deis-elasticsearch \
  -p ${COREOS_PRIVATE_IPV4}:9200:9200 \
  -p ${COREOS_PRIVATE_IPV4}:9300:9300 \
  -v /data/elasticsearch/data:/usr/share/elasticsearch/data \
  -v /data/elasticsearch/logs:/usr/share/elasticsearch/logs \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  $IMAGE"
ExecStop=-/usr/bin/docker exec deis-elasticsearch /app/bin/clean
ExecStop=-/usr/bin/docker stop deis-elasticsearch
ExecStop=-/bin/sh -c "etcdctl rm /hehe/services/elasticsearch/hosts/${COREOS_PRIVATE_IPV4}"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=deis-elasticsearch@*.service
